body {
   background-image: url("images.jpeg");
}
.title {
  text-align: center;
  background-color:#659060;
  color: white;
  font-size: 50px;
}

ul {
    width: 50%;
    position: relative;
    left: 350px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #659060;
}
.mission {
  background-color:#659060;
  font-size: 20px;
  padding: 25px;
}
.slogan {
  text-align: center;
  background-color: #659060;
  padding: 20px;
  font-size: 30px;
  color: white;
}
.subtitle{
  color: white;
  text-decoration: underline;
}
li a {
    border: solid;
    text-align: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #447700 ;
}
