body {
   background-image: url("images.jpeg");
}
.title {
  text-align: center;
  background-color:#659060;
  color: white;
  font-size: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #659060;
}

li a {
    border: dotted;
    text-align: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
